<%provide(:title, @user.username)%>
<div class="row">
	
	<body>
		<div class="span12">
			<h1 class="UserAvatar">
				<%= gravatar_for @user %>
				<%= @user.username.upcase %> 	
				<br>
			</h1>

			<p class="UserInfo">
		
			Name:         <%= @user.first_name.capitalize + " " + @user.last_name.capitalize %> <br>
			Email: 		  <%= @user.email %> <br>
			Account Type: <%= @user.role.capitalize %> <br>
			Member Since: <%= @user.created_at%>

			</p>

		</div>
		

	</body>

	<aside class="span4">
		
	</aside>
</div>