<% provide(:title, 'Home')%>
<!DOCTYPE html>				<!--NOTE: Not sure i need it since it already exists in the main app layout-->
<html>
<head>
	<meta charset="utf-8" />
</head>

<body>

	<!--header file contained in layout -->
	<div class="hero-unit">
		<h1>Welcome to the APGM website</h1>
		<small>Work in Progress</small>
	</div>

	<div class="row">
	  <div class="span12">
	    <h4><%=link_to "New Post", new_post_path, class: "btn btn-small btn-primary" %>	</h4>	<!--Link to the new post page -->
	    <div class="row">
	      <div class="span9">

					<% @posts.each do |post| %>
						<h2> <%= link_to post.title, post %></h2>		<!-- rails automatically links to the post id when one clicks on it -->
						<p> <%= post.content %> </p>				<!--the = is only used when we want to display something-->
						<p> 
							<%= link_to "Edit Post", edit_post_path(post), class: "btn btn-mini btn-primary" %> |
							<%= link_to "Delete Post", post, :confirm => "Are you sure you want to Delete this post", :method => :delete, class: "btn btn-mini btn-primary" %> 
							<!--2nd parameter is the post to delete, 3rd parameter is js popup, 4th parameter is the fuction that we want to perform (delete in our case) -->
						</p>
						<hr />			<!--Horizontal line to separate the posts-->
					<%end%>
				
				</div>

	      <div class="span3">Level 2 (Future Aside)</div>
	    </div>
	  </div>
	</div>
	

	

</body>

</html>